.header-row{padding-top: 15px; padding-bottom: 25px;}
.paper-img{width: 150px}

.main-content{background-image: url(../images/book.png);background-repeat: no-repeat;background-size: cover;background-position: center center;}